<div class="mainly">
    <div class="navbar">
        <div class="navbar-title">
            <a href="#"> PLANA</a>
        </div>
        <div class="nav-links">
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Services</a>
                <a href="#">Contact</a>
        </div>
    </div>
    <div class="mani">
        <div class="lefty">
            <div class="profile">
                <img src="https://pics.craiyon.com/2023-10-25/b65f72d6d11a48c1bc560059cc36e31f.webp" alt="">
            </div>
            <div class="dashboard">
                <i class="fa fa-home" aria-hidden="true"></i>
                <button routerLink="/register">Home</button>
            </div>
            <div class="myprofile">
                <i class="fa fa-user-md" aria-hidden="true"></i>
                <button routerLink="/managerprofile">Profile</button> 
            </div>
            <div class="mail">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <button>Mail</button>
            </div>
            <div class="createevent">
                <i class="fa fa-pencil-square" aria-hidden="true"></i>
                <button routerLink="/createevents">Create Event</button>
            </div>
            <div class="createtickets">
                <i class="fa fa-pencil-square" aria-hidden="true"></i>
                <button routerLink="/createtickets">Create Tickets</button>
            </div>
            <div class="viewevents">
                <i class="fa fa-eye" aria-hidden="true"></i>
                <button routerLink="/viewevents">View Events</button>
            </div>
            <div class="bookings">
                <i class="fa fa-book" aria-hidden="true"></i>
                <button routerLink="/viewbookings">Bookings</button>
            </div>
            <div class="settings">
                <i class="fa fa-cogs" aria-hidden="true"></i>
                <button>Settings</button>
            </div>
            <div class="logout">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                <button routerLink="/landing">Log Out</button>
            </div>
        </div>
        <div class="content">
            <div class="hello">
                <h1> Hello Manager!</h1>
                <p>It's nice to meet you</p>
            </div>
            <div class="butns">
                <button routerLink="/createtickets">Create Event Tickets</button>
                <button routerLink="/viewevents">View All Events</button>
                <button routerLink="/viewbookings">View Bookings</button>
            </div>
            <div class="maincontent">
                <div class="cats">
                    <div class="cultural">
                        <div class="cimg">
                            <img src="https://cdn.pixabay.com/photo/2024/05/23/12/25/ai-generated-8783123_1280.png" alt="Image 2">
                        </div>
                        <div class="lin">
                            <h4>Cultural Events</h4>
                            <p>Learn and experience cultures</p>
                        </div>
                    </div>
                    <div class="cultural">
                        <div class="cimg">
                            <img src="https://cdn.pixabay.com/photo/2024/05/17/08/06/ai-generated-8767680_1280.jpg" alt="Image 2">
                        </div>
                        <div class="lin">
                            <h4>Educative Events</h4>
                            <p>Learn and experience cultures</p>
                        </div>
                    </div>
                    <div class="cultural">
                        <div class="cimg">
                            <img src="https://cdn.pixabay.com/photo/2024/05/18/18/13/concert-8770776_1280.jpg" alt="Image 2">
                        </div>
                        <div class="lin">
                            <h4>Musical Concerts Events</h4>
                            <p>Learn and experience cultures</p>
                        </div>
                    </div>
                    <div class="cultural">
                        <div class="cimg">
                            <img src="https://cdn.pixabay.com/photo/2013/07/13/12/51/lady-160472_1280.png" alt="Image 2">
                        </div>
                        <div class="lin">
                            <h4>Cinematic Events</h4>
                            <p>Learn and experience cultures</p>
                        </div>
                    </div>
                    <div class="cultural">
                        <div class="cimg">
                            <img src="https://cdn.pixabay.com/photo/2023/05/26/12/31/couple-8019370_1280.jpg" alt="Image 2">
                        </div>
                        <div class="lin">
                            <h4>Wedding planning</h4>
                            <p>Learn and experience cultures</p>
                        </div>
                    </div>
                    <div class="cultural">
                        <div class="cimg">
                            <img src="https://cdn.pixabay.com/photo/2024/02/01/10/55/heart-8545742_1280.jpg" alt="Image 2">
                        </div>
                        <div class="lin">
                            <h4>Valentine Events</h4>
                            <p>Learn and experience cultures</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>