<!-- templates/welcomeUser.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Medassist</title>
</head>
<body>
    <h1>Welcome, User1</h1>
    <p>Thank you for registering at plana. We are excited to have you on board.</p>
</body>
</html>
