button:hover{
    cursor: pointer;
    text-decoration: underline;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    margin-top: 1px;
    background-color: rgb(249, 245, 228);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.nav-links{
    display: flex;
    gap: 20px;
    margin-right: 5px;
}
.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.navbar-title a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    margin-left: 40%;


}
.lefty{
    width: 150px;
    background-color: rgb(88, 88, 188);
    color: #fff;
    position: fixed;
    height:100vh;
    overflow: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 24px;
}
.content{
    margin-left: 180px; /* Same as the width of the navigation */
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;
    height: 100vh;
    margin-top: 0px;
}
.createtickets button {
    background: none;
    border: none;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
}
.mani {
    display: flex;
    height: 100vh;
  }
.profile img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.hello{
    background-color: rgb(228, 224, 224);
    border-radius: 20px;
    height: 20vh;
}
.hello p{
    margin-left: 20px;
}
.hello h1{
    margin-left: 20px;
    margin-bottom: 0px;
}
.dashboard button{
    background: none;
    border: none;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
}
.mail button{
    background: none;
    border: none;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
}
.myprofile button{
    background: none;
    border: none;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
}
.createevent button{
    background: none;
    border: none;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
}
.viewevents button{
    background: none;
    border: none;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
}
.settings button{
    background: none;
    border: none;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
}
.logout button{
    background: none;
    border: none;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
}
.bookings button{
    background: none;
    border: none;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
}
.bookings{
    margin-bottom: 35px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
    text-align: left;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover {
    background-color: #f1f1f1;
}
