<div class="mani">
    <div class="navbar">
        <div class="navbar-title">
            <img src="https://p7.hiclipart.com/preview/114/481/310/simple-plan-logo-graphic-designer-printing-blink-182.jpg" alt="">
            <a href="#"> PLANA</a>
        </div>
        <div class="nav-links">
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Services</a>
                <a href="#">Contact Us</a>
                <a href="#">Clients</a>
        </div>
        <div class="iconsi">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <i class="fa fa-linkedin" aria-hidden="true"></i>
            <i class="fa fa-pencil-square" aria-hidden="true"></i>
        </div>
    </div>
    <div class="video-background">
        <video autoplay muted loop id="background-video">
            <source src="https://cdn.pixabay.com/video/2023/07/12/171249-846731169_large.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="plana">
        <h1>PLANA</h1>
        <p>streamline the process of organizing</p>
        <p>and attending events</p>
        <button routerLink="/login">Get Started</button>
    </div>
    <div class="scontnt">
        <div class="others">
            <h2>CREATING MEMORABLE EVENTS TAILORED TO THE CLIENT</h2>
        </div>
    </div>
    <div class="image-container">
        <img src="https://cdn.pixabay.com/photo/2020/12/03/08/05/giraffe-5799824_1280.jpg" alt="Image 2">
        <img src="https://cdn.pixabay.com/photo/2013/11/03/08/05/cheers-204742_1280.jpg" alt="Image 1">
        <img src="https://cdn.pixabay.com/photo/2024/07/17/06/27/swimmer-8900634_1280.jpg" alt="Image 1">
        <img src="https://wallpaper.forfun.com/fetch/28/28ee4d9214c7d280094b3fde4c73869d.jpeg" alt="">
    </div>
    <div class="dots">
        <span class="dot active" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>     
    <div class="bg">
        <h2>Category Events We Offer ></h2>
    </div> 
    <div class="cats">
        <div class="cultural">
            <div class="cimg">
                <img src="https://cdn.pixabay.com/photo/2024/05/23/12/25/ai-generated-8783123_1280.png" alt="Image 2">
            </div>
            <div class="lin">
                <h4>Cultural Events</h4>
                <p>Learn and experience cultures</p>
            </div>
        </div>
        <div class="cultural">
            <div class="cimg">
                <img src="https://cdn.pixabay.com/photo/2024/05/17/08/06/ai-generated-8767680_1280.jpg" alt="Image 2">
            </div>
            <div class="lin">
                <h4>Educative Events</h4>
                <p>Learn and experience cultures</p>
            </div>
        </div>
        <div class="cultural">
            <div class="cimg">
                <img src="https://cdn.pixabay.com/photo/2024/05/18/18/13/concert-8770776_1280.jpg" alt="Image 2">
            </div>
            <div class="lin">
                <h4>Musical Concerts Events</h4>
                <p>Learn and experience cultures</p>
            </div>
        </div>
        <div class="cultural">
            <div class="cimg">
                <img src="https://cdn.pixabay.com/photo/2013/07/13/12/51/lady-160472_1280.png" alt="Image 2">
            </div>
            <div class="lin">
                <h4>Cinematic Events</h4>
                <p>Learn and experience cultures</p>
            </div>
        </div>
        <div class="cultural">
            <div class="cimg">
                <img src="https://cdn.pixabay.com/photo/2023/05/26/12/31/couple-8019370_1280.jpg" alt="Image 2">
            </div>
            <div class="lin">
                <h4>Wedding planning</h4>
                <p>Learn and experience cultures</p>
            </div>
        </div>
        <div class="cultural">
            <div class="cimg">
                <img src="https://cdn.pixabay.com/photo/2024/02/01/10/55/heart-8545742_1280.jpg" alt="Image 2">
            </div>
            <div class="lin">
                <h4>Valentine Events</h4>
                <p>Learn and experience cultures</p>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="uno">
            <h2>Our Top Events</h2>
        </div>
        <div class="start">
            <div class="card">
                <div class="doty">
                    <p>.</p>
                </div>
                <div class="card2">
                    <p>Yeezy Music Concert</p>
                    <div class="card3">
                        <p class="sdg"> bookings: 40,000+</p>
                        <button>View</button>
                    </div>
                </div>
            </div>
            <div class="cardz">
                <div class="doty">
                    <p>.</p>
                </div>
                <div class="card2">
                    <p>Yeezy Music Concert</p>
                    <div class="card3">
                        <p class="sdg"> bookings: 40,000+</p>
                        <button>View</button>
                    </div>
                </div>
            </div>
            <div class="cardx">
                <div class="doty">
                    <p>.</p>
                </div>
                <div class="card2">
                    <p>Yeezy Music Concert</p>
                    <div class="card3">
                        <p class="sdg"> bookings: 40,000+</p>
                        <button>View</button>
                    </div>
                </div>
            </div>
            <div class="cardc">
                <div class="doty">
                    <p>.</p>
                </div>
                <div class="card2">
                    <p>Yeezy Music Concert</p>
                    <div class="card3">
                        <p class="sdg"> bookings: 40,000+</p>
                        <button>View</button>
                    </div>
                </div>
            </div>
            <div class="cardv">
                <div class="doty">
                    <p>.</p>
                </div>
                <div class="card2">
                    <p>Yeezy Music Concert</p>
                    <div class="card3">
                        <p class="sdg"> bookings: 40,000+</p>
                        <button>View</button>
                    </div>
                </div>
            </div>
            <div class="cardb">
                <div class="doty">
                    <p>.</p>
                </div>
                <div class="card2">
                    <p>Yeezy Music Concert</p>
                    <div class="card3">
                        <p class="sdg"> bookings: 40,000+</p>
                        <button>View</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="top">
            <div class="top1">
                <h3>Weekly Events Offers </h3>
                <p>Get to experience events at a discounted price</p>
                <button>See More</button>
            </div>
            <div class="gkard">
                <div class="kard">
                    <img src="https://cdn.pixabay.com/photo/2016/03/27/17/55/sand-1283284_1280.jpg" alt="Image 1">
                    <p>Museum Visit</p>
                    <div class="fl">
                        <div class="prc">
                            <p class="und">Ksh:4,000</p>
                        </div>
                        <div class="pric">
                            <p>Ksh:3,500</p>
                        </div>
                    </div>
                </div>
                <div class="kard">
                    <img src="https://cdn.pixabay.com/photo/2023/01/29/00/16/drums-7751985_1280.jpg" alt="Image 1">
                    <p>Museum Visit</p>
                    <div class="fl">
                        <div class="prc">
                            <p class="und">Ksh:4,000</p>
                        </div>
                        <div class="pric">
                            <p>Ksh:3,500</p>
                        </div>
                    </div>
                </div>
                <div class="kard">
                    <img src="https://cdn.pixabay.com/photo/2023/05/31/11/15/fish-8031138_1280.jpg" alt="Image 1">
                    <p>Museum Visit</p>
                    <div class="fl">
                        <div class="prc">
                            <p class="und">Ksh:4,000</p>
                        </div>
                        <div class="pric">
                            <p>Ksh:3,500</p>
                        </div>
                    </div>
                </div>
                <div class="kard">
                    <img src="https://cdn.pixabay.com/photo/2013/12/30/00/43/parachute-235553_1280.jpg" alt="Image 1">
                    <p>Museum Visit</p>
                    <div class="fl">
                        <div class="prc">
                            <p class="und">Ksh:4,000</p>
                        </div>
                        <div class="pric">
                            <p>Ksh:3,500</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lastly">
        <div class="contact">
            <h3> Contact us</h3>
            <p> share recommendations and <br> any updates you might need</p>
            <p> Reach us through our email<br>  and contacts</p>
            xploratours&#64;gmail.com
            <p>+254700000000</p>
        </div>
        <div class="read">
            <h3> Read more</h3>
            <p> get to learn more about our company <br> and the services we offer</p>
            <button>Read More</button>
        </div>
        <div class="tips">
            <h3>Daily Tips</h3>
            <p> Tips to improve your <br>travels</p>
            <button>More quotes</button>
        </div>
    </div>
</div>
