<div class="mainly">
  <div class="navbar">
    <div class="navbar-title">
      <a href="#"> PLANA</a>
    </div>
    <div class="nav-links">
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Services</a>
      <a href="#">Contact</a>
    </div>
  </div>
  <div class="mani">
    <div class="lefty">
      <div class="profile">
        <img src="https://pics.craiyon.com/2023-10-25/b65f72d6d11a48c1bc560059cc36e31f.webp" alt="">
      </div>
      <div class="dashboard">
        <i class="fa fa-home" aria-hidden="true"></i>
        <button routerLink="/userdashboard">Home</button>
      </div>
      <div class="myprofile">
        <i class="fa fa-user-md" aria-hidden="true"></i>
        <button routerLink="/userprofile">Profile</button>
      </div>
      <div class="mail">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <button>Mail</button>
      </div>
      <div class="bookings">
        <i class="fa fa-book" aria-hidden="true"></i>
        <button routerLink="/userbookings">My Bookings</button>
      </div>
      <div class="settings">
        <i class="fa fa-cogs" aria-hidden="true"></i>
        <button>Settings</button>
      </div>
      <div class="logout">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
        <button routerLink="/landing">Log Out</button>
      </div>
    </div>
    <div class="content">
      <div class="bookings1">
        <div *ngFor="let booking of bookings" class="card">
          <div class="imagecard">
            <img [src]="booking.EventImage" alt="">
          </div>
          <div class="imagcntxt">
            <h5>Title: {{ booking.Title }}</h5>
            <h5>Description:</h5>
            <p>{{ booking.Description }}</p>
            <div class="price-date">
              <p class="pri">Price:</p>
              <p>{{ booking.Price | currency }}</p>
            </div>
            <div class="lkl">
              <p class="pri">Date:</p>
              <p>{{ booking.Date | date: 'MM/dd/yyyy hh:mm a' }}</p>
            </div>
            <div class="location">
              <p>Location:</p>
              <p>{{ booking.Location }}</p>
            </div>
            <div class="buttons">
              <button (click)="deleteBooking(booking.BookingID)">DELETE</button>
            </div>
          </div>
        </div>
      </div>
      <div class="pay">
        <p *ngFor="let booking of bookings">{{ booking.Title }}: {{ booking.Price | currency }}</p>
        <p class="tts">Total: {{ total | currency }}</p>
      </div>
    </div>
  </div>
</div>
